<div class="container">

  <div class="row align-items-center text-center">
    <div class="col my-2">
      <button type="button" class="btn btn-primary" (click)="addEtiquetas()">Añadir fila de etiquetas</button>
    </div>
    <div class="col d-flex my-2">
      <label for="inputPassword" class="col-sm-2 col-form-label">Tamaño</label>
      <div class="col-sm-2">
        <input type="number" id="textSize" class="form-control" value="15" (input)="changeTextSize($event)"/>
      </div>
    </div>
    <div class="col">
      <div class="form-check text-start">
        <input class="form-check-input" type="checkbox" [value]="imageCheckbox" id="flexCheckDefault" (change)="changeImage()">
        <label class="form-check-label" for="flexCheckDefault">
          Cambio imagen
        </label>
      </div>
    </div>
    <!-- <div class="col my-2">
      <button type="button" class="btn btn-danger" (click)="removeEtiquetas()">Quitar fila de etiquetas</button>
    </div> -->
  </div>

  <div #etiquetasContainer [ngClass]="imageCheckbox ? 'background-ita' : 'background-ballesol'">
    <div id="filaEtiqueta0" class="row align-items-center text-center etiquetas">
      <div class="col align-items-center text-center">
        <div contenteditable="true">NOMBRE</div>
        <div contenteditable="true">APELLIDOS</div>
        <div contenteditable="true">HABITACIÓN</div>
        <div contenteditable="true">
          <span>NOTAS</span>
        </div>
      </div>
      <div class="col align-items-center text-center">
        <div contenteditable="true">NOMBRE</div>
        <div contenteditable="true">APELLIDOS</div>
        <div contenteditable="true">HABITACIÓN</div>
        <div contenteditable="true">
          <span>NOTAS</span>
        </div>
      </div>
      <div class="col align-items-center text-center">
        <div contenteditable="true">NOMBRE</div>
        <div contenteditable="true">APELLIDOS</div>
        <div contenteditable="true">HABITACIÓN</div>
        <div contenteditable="true">
          <span>NOTAS</span>
        </div>
      </div>
    </div>
  </div>
</div>
